@model IEnumerable<Person>

@{
    Person person = new Person()
    {
        PersonName = "Sohel",
        DateOfBirth = Convert.ToDateTime("2020-02-02"),
        PersonGender = Gender.Female
    };
 }  


@* @functions
{
    int sum;
    int number (int num)
    {
        sum = sum + num;
        return sum;
    }
}

@functions {
    Random random = new Random();
    public int RandomNumberGenerator()
    {
        return random.Next(20, 40);
    }
} *@

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>@ViewData["bodyMessage"]</h1>



        @if (person.DateOfBirth != null)
        {
            <h3>Details about the person </h3>
            <h2>Name: @person.PersonName</h2>
            <h2>Date of Birth: @person.DateOfBirth</h2>
            <h2>Gender: @person.PersonGender</h2>
        }
        else
        {
            <h3>Everything is not Okay!</h3>
        }

        @switch (person.PersonGender)
        {
            case Gender.Male:
                {
                    <p>Happy men's day'</p>
                    break;
                }
            case Gender.Female:
                {
                    <p>Happy women's day'</p>
                    break;
                }
            default:
                {
                    <p>Not a valid day!</p>
                    break;
                }
        }
        @{
           // List<Person>? personList = (List<Person>?)ViewData["person"];
        }
        <div class="margin-auto">
            <h2>Person Details</h2>
        </div>
        @foreach (var per in Model)
        {
            <div class="box float-left w-50">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Person Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@per.PersonName</td>
                            <td>@per.DateOfBirth</td>
                            <td>@per.PersonGender</td>
                            @* <td>@number(RandomNumberGenerator())</td> *@
                            <td><a href="/personDetails/@per.PersonName">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

    </div>
    <div>
        <a href="/person_product">Product Details</a>
    </div>
    
</body>
</html>
